.wrap {
    max-width: 900px;
    width: auto;
    // background-color: tan;
    height: 100vh;
    margin: auto;
}

.avatar {
    max-width: 200px;
    border-radius: 20px;
    height: auto;
}

.row-spaces {
    margin-top: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }